:root {
    --light-bg-color: rgb(255, 248, 239);
    --panel-shadow: 0 1em 2em rgba(0, 0, 0, 0.05);
    --panel-border: 2px solid white;
    --header-height: 2.0em;
    --toc-width: 18em;
    --info-width: 23em;
    --main-padding: 1em;
  }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#titleContainer {
    font-size: 1.5em;
    text-align: center;
    background-color: var(--light-bg-color);
    padding: 1em 0;
}

#title {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#header {
    box-sizing: border-box;
    height: var(--header-height);
    background-color: rgb(255, 236, 206);
    text-align: center;
    padding: 0.2em;
    overflow: hidden;
    box-shadow: var(--panel-shadow);
    border-bottom: var(--panel-border);
}

#header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#toc {
    box-sizing: border-box;
    position: fixed;
    /* unclear why the additional offset is required */
    top: calc(var(--header-height) + 0.2em);
    bottom: 0;
    width: var(--toc-width);
    overflow: auto;
    padding: 1em;
    font-size: 0.9em;
    background-color: var(--light-bg-color);
    box-shadow: var(--panel-shadow);
    border-right: var(--panel-border);
    visibility: hidden;
}

#toc h1 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    border: none;
}

#toc ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#toc ul ul {
    padding-left: 1em;
}

#info {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    top: var(--header-height);
    left: calc(100% - var(--info-width));
    width: var(--info-width);
    overflow: auto;
    padding: 1em;
    background-color: var(--light-bg-color);
    border-left: var(--panel-border);
    box-shadow: var(--panel-shadow);
    visibility: hidden;
}

#main {
    margin: 1em auto;
    max-width: 40em;
    padding: var(--main-padding);
}

/* Extra space for content when header gets sticky (so that text does not jump)*/
#main.sticky {
    padding-top: calc(var(--header-height) + var(--main-padding));
}


h1 {
    font-size: 1.6em;
    font-weight: normal;
    padding-top: 3.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin-top: 1.5em;
}

p, li {
    text-align: justify;
}

a {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

table {
    margin-top: 2em;
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

table tr:first-child th {
    border-bottom: 1px solid black;
}

table caption {
    margin-bottom: 0.2em
}

table th, table td {
    padding: 0.1em 0.2em;
    font-size: 0.9em;
}

.generated {
    background: #eee;
    padding: 0.2em;
}

.generated::before {
    content: "Automatically generated content";
    font-size: 0.7em;
    float: right;
}

ol.references {
    counter-reset: references;
    padding-left: 0;
    font-size: 0.9em;
}

ol.references li {
    margin: 0.5em 0;
    display: block;
    margin-left: 2em;
}

ol.references li::before {
    display: inline-block;
    counter-increment: references;
    content: '['counter(references)'] ';
    width: 2em;
    margin-left: -2em;
}

@media screen and (max-device-width: 1400px){
    #toc {
        display: none;
    }

    #info {
        display: none;
    }
}
    
@media print {
    
    #titleContainer {
        margin-top: 10.0em;
    }

    #header {
        display: none;
    }

    h1 {
        page-break-before: always;
        padding-top: 15.0em;
        margin-bottom: 2.0em;
    }

    #toc {
        position: initial;
        box-shadow: none;
    }

    #info {
        display: none;
    }

}