:root {
    --light-bg-color: rgb(255, 248, 239);
  }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#titleContainer {
    font-size: 1.5em;
    text-align: center;
    background-color: var(--light-bg-color);
    padding: 1em 0;
}

#header {
    box-sizing: border-box;
    height: 2em;
    background-color: rgb(255, 236, 206);
    text-align: center;
    padding: 0.2em;
    overflow: hidden;
}

#header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#header.sticky+#content {
    padding-top: 3em;
}

#toc {
    box-sizing: border-box;
    position: fixed;
    top: 2.2em;
    height: 100%;
    overflow: auto;
    padding: 1em;
    font-size: 0.9em;
    visibility: hidden;
    background-color: var(--light-bg-color);
}

#toc h1 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    border: none;
}

#toc ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#toc ul ul {
    padding-left: 1em;
}

#title {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#content {
    margin: 1em auto;
    max-width: 40em;
    padding: 1em;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
    padding-top: 3.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin-top: 1.5em;
}

p, li {
    text-align: justify;
}

a {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

table {
    margin-top: 2em;
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

table tr:first-child th {
    border-bottom: 1px solid black;
}

table caption {
    margin-bottom: 0.2em
}

table th, table td {
    padding: 0.1em 0.2em;
    font-size: 0.9em;
}

.generated {
    background: #eee;
    padding: 0.2em;
}

.generated::before {
    content: "Automatically generated content";
    font-size: 0.7em;
    float: right;
}

ol.references {
    counter-reset: references;
    padding-left: 0;
    font-size: 0.9em;
}

ol.references li {
    margin: 0.5em 0;
    display: block;
    margin-left: 2em;
}

ol.references li::before {
    display: inline-block;
    counter-increment: references;
    content: '['counter(references)'] ';
    width: 2em;
    margin-left: -2em;
}

@media screen and (max-device-width: 1400px){
    #toc {
        display: none;
    }
}
    
@media print {
    
    #titleContainer {
        margin-top: 10.0em;
    }

    #header {
        display: none;
    }

    h1 {
        page-break-before: always;
        padding-top: 15.0em;
        margin-bottom: 2.0em;
    }

    #toc {
        position: initial;
    }

}