body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#titleContainer {
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(252, 242, 227);
    padding: 1em 0;
}

#header {
    height: 1.5em;
    background-color: rgb(255, 236, 206);
    text-align: center;
    padding: 0.2em;
    overflow: hidden;
}

#header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#header.sticky + #content {
    padding-top: 3em;
}

#title {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#content {
    margin: 1em auto;
    max-width: 40em;
    padding: 1em;
}

h1 {
    font-size: 1.4em;
    font-weight: normal;
    margin-top: 2.5em;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin-top: 1.5em;
}

p {
    text-align: justify;
}

table {
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
}

table tr:first-child th {
    border-bottom: 1px solid black;
}

table caption {
    margin-bottom: 0.2em
}

table th, table td {
    padding: 0.1em 0.2em;
}