:root {
    --bg-color: #E28E8E;
    --light-bg-color: rgb(233, 240, 240);
    --panel-shadow: 0 1em 2em rgba(0, 0, 0, 0.05);
    --color-interactive: rgb(172, 12, 12);
    --color-annotation: #59B2B2;
    --panel-border: 2px solid white;
    --header-height: 2.0em;
    --toc-width: 16vw;
    --info-width: 27vw;
    --main-padding: 1em;
    --font-small: 0.9em;
    --font-tiny: 0.83em;
    --font-handwritten: 'Architects Daughter', cursive;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw!;
}

body::before {
    content: "DRAFT";
    position: fixed;
    font-size: 20em;
    z-index: -1;
    color: #EEE;
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: center;
    padding-top: 0.5em;
    transform: rotate(-30deg);
}

#titleContainer {
    font-size: 1.5em;
    text-align: center;
    background-image: url("layout/title.png");
    padding: 2em;
}

#title {
    font-size: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.6em;
}

#titleContainer div {
    background-color: rgba(255,255,255,0.7);
}

#documentDescription {
    padding-bottom: 2em;
    font-family: var(--font-handwritten);
}

#author {
    padding-bottom: 0.3em;
}

#header {
    box-sizing: border-box;
    height: var(--header-height);
    background-color: var(--bg-color);
    padding: 0.2em;
    overflow: hidden;
    box-shadow: var(--panel-shadow);
    border-bottom: var(--panel-border);
}

#header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#headerTitle {
    width: 100%;
    text-align: center;
}

#tocHeader {
    visibility: hidden;
}

#tocHeader.sticky {
    position: relative;
    top: -1.2em;
    padding-right: 0.2em;
    background-color: var(--bg-color);
    visibility: visible;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    height: var(--header-height);
    left: 0;
    width: var(--toc-width);
    padding: 0.2em 1em;
    border-right: var(--panel-border);
    border-bottom: var(--panel-border);
    color: var(--color-interactive);
}

#tocHeader.sticky:hover {
    color: black;
    cursor: pointer;
}

#tocToggleButton {
    float: left;
    padding-right: 0.5em;
    color: inherit;
}

#tocHeaderTitle {
    float: left;
}

#toc {
    box-sizing: border-box;
    position: fixed;
    top: calc(var(--header-height));
    bottom: 0;
    width: var(--toc-width);
    overflow: auto;
    padding: 1em;
    background-color: var(--light-bg-color);
    box-shadow: var(--panel-shadow);
    border-right: var(--panel-border);
    visibility: hidden;
    display: none;
}

#toc h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    border: none;
    font-size: 1em;
}

#toc ul {
    font-size: var(--font-small);
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#toc ul ul {
    padding-left: 1em;
}

#toc li {
    margin: 0;
    text-align: left;
    text-indent: -1em;
    padding-left: 1em;
}

#toc>ul>li {
    padding-top: 0.5em;
}

#infoHeader {
    visibility: hidden;
    display: none;
}

#infoHeader.sticky {
    position: relative;
    top: -1.2em;
    padding-right: 0.2em;
    background-color: var(--bg-color);
    visibility: visible;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    top: 0;
    height: var(--header-height);
    left: calc(100% - var(--info-width));
    width: var(--info-width);
    padding: 0.2em 1em;
    border-left: var(--panel-border);
    border-bottom: var(--panel-border);
}

#infoTitle {
    float: left;
}

#infoCloseButton {
    float: right;
}

#info {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    top: var(--header-height);
    left: calc(100% - var(--info-width));
    width: var(--info-width);
    overflow: auto;
    padding: 1em;
    background-color: var(--light-bg-color);
    border-left: var(--panel-border);
    box-shadow: var(--panel-shadow);
    visibility: hidden;
    display: none;
}

#info .ref div {
    margin-bottom: 0.5em;
}

#info .refIndex {
    font-size: var(--font-tiny);
    float: left;
    margin-top: 0.1em;
    margin-right: 0.5em;
}

#info .refTitle {
    font-weight: bold;
}

#info .refAuthor {
    font-size: var(--font-small);
}

#info .refDetails {
    font-size: var(--font-tiny);
}

#info .refKeywords {
    font-size: var(--font-small);
}

#info .refKeywords::before {
    content: 'Keywords: ';
    font-weight: bold;
    font-size: var(--font-tiny);
    font-style: normal;
}

#info .refAbstract {
    font-size: var(--font-small);
    font-style: italic;
    text-align: justify;
}

#info .refAbstract::before {
    content: 'Abstract: ';
    font-weight: bold;
    font-size: var(--font-tiny);
    font-style: normal;
}

.info-only {
    display: none;
}

#info .info-only {
    display: initial;
}

#main {
    margin: 1em auto;
    max-width: 40em;
    padding: var(--main-padding);
}

/* Extra space for content when header gets sticky (so that text does not jump)*/

#main.sticky {
    padding-top: calc(var(--header-height) + var(--main-padding));
}

h1, h2, h3, p, ul, figure, table {
    clear: both;
}

p, li, caption, figcaption {
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
}

p, li {
    margin: 1em 0;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
    padding-top: 7em;
    margin-bottom: 1em;
    position: relative;
    left: -5em;
    z-index: -1;
}

h1::before {
    display: block;
    float: left;
    content: "";
    width: 5em;
    height: 5em;
    left: -1em;
    top: -3.5em;
    position: relative;
    background-image: url("layout/title.png");
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin-top: 1.5em;
}

.button {
    color: var(--color-interactive);
}

.button:hover {
    color: black;
    cursor: pointer;
}

a, ref {
    color: var(--color-interactive);
    text-decoration: none;
}

a:hover, ref:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

#main img {
    max-width: 100%;
}

#main figure {
    margin: 0;
    border-left: 6px solid var(--color-interactive);
    overflow: auto;
    padding: 0.5em;
}

#main figure:hover {
    border-color: black;
    cursor: pointer;
    background-color: var(--light-bg-color);
}

#main figure img {
    width: 35%;
    float: left;
}

#main figure figcaption {
    float: right;
    width: 63%;
}

#info figure {
    margin: 0;
}

#info figure img {
    width: 100%;
}

table {
    margin-top: 2em;
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

table tr:first-child th {
    border-bottom: 1px solid black;
}

table caption {
    margin-bottom: 0.2em
}

table th, table td {
    padding: 0.1em 0.2em;
    font-size: var(--font-small);
}

marginal {
    color: var(--color-annotation);
    position: relative;
    max-height: 0;
    left: -10em;
    width: 9em;
    text-align: center;
    display: block;
    margin-top: 1.8em;
    margin-bottom: -1.8em;
    box-sizing: border-box;
    font-family: var(--font-handwritten);
    z-index: -1;
    font-size: 1.0em;
}

#main info {
    display: none;
}

#info info {
    display: block;
    font-size: var(--font-small);
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
}

i {
    padding: 0 0.2em;
}

.generated {
    background: #eee;
    padding: 0.2em;
}

.generated::before {
    content: "Automatically generated content";
    font-size: 0.7em;
    float: right;
}

#main ol.references {
    counter-reset: references;
    padding-left: 0;
    font-size: var(--font-small);
}

#main ol.references li {
    margin: 0.5em 0;
    display: block;
    margin-left: 2em;
}

#main ol.references li::before {
    display: inline-block;
    counter-increment: references;
    content: '['counter(references)'] ';
    width: 2em;
    margin-left: -2em;
}

.incomplete {
    background-color: rgba(255, 0, 0, 0.253);
    display: none;
}

marginal.incomplete {
    color: rgba(190, 1, 1, 0.603);
}

@media screen and (max-width: 1400px) {
    body::before {
        font-size: 8em;
        padding-top: 2.5em;
    }
    #tocHeader.sticky {
        width: 3em;
    }
    #tocTitle {
        display: none;
    }
    #toc {
        width: 18em;
    }
    marginal {
        display: none;
    }
    #infoHeader.sticky, #info {
        width: calc(2 * var(--info-width));
        left: calc(100% - 2 * var(--info-width));
    }
}

@media screen and (max-width: 700px) {
    #headerTitle {
        float: left;
        text-align: left;
        padding-left: 3.5em;
    }
    #toc {
        max-width: 80vw;
    }
    #infoHeader.sticky, #info {
        left: 0;
        width: 100%;
    }
}

@media print {
    body::before {
        display: none;
    }
    #titleContainer {
        margin-top: 10.0em;
    }
    #header {
        display: none;
    }
    #toc {
        position: initial;
        box-shadow: none;
        page-break-before: always;
        width: 100%;
        display: block;
        visibility: visible;
    }
    #toc::before {
        content: 'Table of Contents';
    }
    #info {
        display: none;
    }
    #main {
        padding-left: 11em;
        font-size: 0.85em;
    }
    h1 {
        page-break-before: always;
        padding-top: 15.0em;
        margin-bottom: 2.0em;
    }
}